@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-6xl py-4 font-extrabold;
  }
  h2 {
    @apply text-4xl py-4 font-bold;
  }
  h3 {
    @apply text-lg py-4 font-semibold;
  }
  h4 {
    @apply text-md font-medium text-primaryText;
  }
  h5 {
    @apply text-sm font-semibold tracking-wider text-opacity-80;
  }
  h6 {
    @apply text-xs tracking-wide uppercase font-bold px-4 py-1 max-w-max mb-3;
  }
  button {
    @apply focus:outline-none active:outline-none;
  }
}

body {
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
